* {
    font-family: 'ALSHauss', sans-serif;
}
a {
    text-decoration: none;
    color: #1B1400;
}
.container {
    max-width: 1050px;

    margin: 0 auto;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;

    cursor: pointer;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;

    color: #1B1400;
}

.d-none {
    display: none !important;
}
.opacity-0 {
    opacity: 0 !important;
}

.hidden {
    visibility: hidden !important;
}

.max-h-0 {
    max-height: 0 !important;
}

/* .max-h-100 {
    max-height: 100px;
} */

.max-h-400{
    max-height: 400px !important;
}

.rotateX-180deg {
    transform: rotateX(180deg) !important;
}

.rotateZ-90deg {
    transform: rotateZ(90deg) !important;
}

.mt-0 {
    margin-top: 0 !important;
}