* {
    font-family: 'ALSHauss', sans-serif;
}
a {
    text-decoration: none;
    color: #1B1400;
}
.container {
    max-width: 1050px;

    margin: 0 auto;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;

    cursor: pointer;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;

    color: #1B1400;
}

.d-none {
    display: none !important;
}
.opacity-0 {
    opacity: 0 !important;
}