/*! Section-Path */

.section-path {
    width: 100%;

    border-bottom: 0.5px solid rgba(196, 196, 196, 0.6);
}
.section-path__container {
    display: flex;
    align-items: center;
    height: 54px;
}
.section-path__block {
    display: flex;
    align-items: center;
}
.section-path__img {
}
.section-path__p {
    font-family: 'ALSHauss';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;


    color: rgba(27, 20, 0, 0.4);
}
.section-path__slash {
    margin: 0 8px;
}